@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">System rekrutacji ZS Niepołomice</h1>
    <h2 class="align-content-lg-center border-dark">
        <p class="align-self-md-center badge-primary" style="padding: 10px;">Wybór wersji</p>
        <a class="nav-link badge-dark" asp-area="Stara" asp-controller="Default" asp-action="Index">
            Szkoła ponadgimnazjalna
        </a>
        <p></p>
        <a class="nav-link badge-dark" asp-area="Nowa" asp-controller="Default" asp-action="Index">
            Szkoła ponadpodstawowa
        </a>
    </h2>
   
</div>
